This notebook is designed to run in a IBM Watson Studio default runtime (NOT the Watson Studio Apache Spark Runtime as the default runtime with 1 vCPU is free of charge). Therefore, we install Apache Spark in local mode for test purposes only. Please don't use it in production.

In case you are facing issues, please read the following two documents first:

https://github.com/IBM/skillsnetwork/wiki/Environment-Setup

https://github.com/IBM/skillsnetwork/wiki/FAQ

Then, please feel free to ask:

https://coursera.org/learn/machine-learning-big-data-apache-spark/discussions/all

Please make sure to follow the guidelines before asking a question:

https://github.com/IBM/skillsnetwork/wiki/FAQ#im-feeling-lost-and-confused-please-help-me


If running outside Watson Studio, this should work as well. In case you are running in an Apache Spark context outside Watson Studio, please remove the Apache Spark setup in the first notebook cells.

In [1]:
from IPython.display import Markdown, display
def printmd(string):
    display(Markdown('# <span style="color:red">'+string+'</span>'))


if ('sc' in locals() or 'sc' in globals()):
    printmd('<<<<<!!!!! It seems that you are running in a IBM Watson Studio Apache Spark Notebook. Please run it in an IBM Watson Studio Default Runtime (without Apache Spark) !!!!!>>>>>')

In [2]:
!pip install pyspark==2.4.5

Requirement already satisfied: pyspark==2.4.5 in /opt/conda/envs/Python36/lib/python3.6/site-packages (2.4.5)
Requirement already satisfied: py4j==0.10.7 in /opt/conda/envs/Python36/lib/python3.6/site-packages (from pyspark==2.4.5) (0.10.7)

In [3]:
try:
    from pyspark import SparkContext, SparkConf
    from pyspark.sql import SparkSession
except ImportError as e:
    printmd('<<<<<!!!!! Please restart your kernel after installing Apache Spark !!!!!>>>>>')

In [4]:
sc = SparkContext.getOrCreate(SparkConf().setMaster("local[*]"))

spark = SparkSession \
    .builder \
    .getOrCreate()

Welcome to exercise three of “Apache Spark for Scalable Machine Learning on BigData”. In this exercise you’ll create a DataFrame, register a temporary query table and issue SQL commands against it. 

Let’s create a little data frame:

In [5]:
from pyspark.sql import Row

df = spark.createDataFrame([Row(id=1, value='value1'),Row(id=2, value='value2')])

# let's have a look what's inside
df.show()

# let's print the schema
df.printSchema()

+---+------+
| id| value|
+---+------+
|  1|value1|
|  2|value2|
+---+------+

root
 |-- id: long (nullable = true)
 |-- value: string (nullable = true)

Now we register this DataFrame as query table and issue an SQL statement against it. Please note that the result of the SQL execution returns a new DataFrame we can work with.

In [6]:
# register dataframe as query table
df.createOrReplaceTempView('df_view')

# execute SQL query
df_result = spark.sql('select value from df_view where id=2')

# examine contents of result
df_result.show()

# get result as string
df_result.first().value

+------+
| value|
+------+
|value2|
+------+

'value2'

Although we’ll learn more about DataFrames next week, please try to find a way to count the rows in this DataFrame by looking at the API documentation. No worries, we’ll cover DataFrames in more detail next week.

https://spark.apache.org/docs/latest/api/python/pyspark.sql.html#pyspark.sql.DataFrame

In [7]:
df.count()

2

In [108]:
rdd  = sc.parallelize([1,2,4,5,34,1,32,4,34,2,1,3])

In [ ]:
sum = rdd.sum()
n = rdd.count() 
mean = sum/float(n)
mean

In [62]:
sortedandIndexed = rdd.sortBy(lambda x : x)#.zipWithIndex()
sortedandIndexed.collect()
#print(sortedandIndexed)
median = (3+4)/2
median

3.5

In [63]:
from math import sqrt

In [71]:
sd = sqrt(rdd.map(lambda x : pow(x-mean,2)).sum()/float(n))
sd

10.562196741208714

In [106]:
n=float(n)
(rdd.map(lambda x : pow(x-mean,4)/pow(sd,4)).sum())/n

669.8240470156105

In [107]:

(rdd.map(lambda x : pow(x-mean,3)/pow(sd,3)).sum())/n

72.34642061132482

In [89]:
rddX  = sc.parallelize([1,2,3,4,5,6,7,8,9,10])
rddY  = sc.parallelize([7,6,5,4,5,6,7,8,9,10])

rddXY = rddX.zip(rddY)
rddXY.collect()

[(1, 7),
 (2, 6),
 (3, 5),
 (4, 4),
 (5, 5),
 (6, 6),
 (7, 7),
 (8, 8),
 (9, 9),
 (10, 10)]

In [93]:
meanX=rddX.sum()/rddX.count()
meanY=rddY.sum()/rddY.count()
print(meanX)
print(meanY)

5.5
6.7

In [96]:
a=1,2,3,4,5,6,7,8,9,10
b= 7,6,5,4,5,6,7,8,9,10

rddX = sc.parallelize(a)
rddY = sc.parallelize(b)
meanX= rddX.sum()/float(rddX.count())
meanY= rddY.sum()/float(rddY.count())
print(meanX)
print(meanY)

rddXY = rddX.zip(rddY)

covXY = rddXY.map(lambda x_y : (x_y[0] - meanX)*(x_y[1] - meanY)).sum()/rddXY.count()
covXY

5.5
6.7

3.65

In [101]:
sdX = sqrt(rddX.map(lambda x : pow(x-meanX,2)).sum()/float(n))
sdY = sqrt(rddY.map(lambda x : pow(x-meanY,2)).sum()/float(n))
print(sdX)
print(sdY)

2.8722813232690143
1.7916472867168916

In [102]:
corr = covXY / (sdX*sdY)

In [103]:
corr

0.709272912083725